select {
    width: 100%;
    padding: 5px;
    font-size: 14px;
}
select option {
    padding: 2px;
}

.section-autocomplete {
    display: flex;
    flex-direction: column;
    gap: 10px;
    width: 300px;
    margin: 0 auto;
}
