.input-field {
    width: 100%;
    padding: 12px;
    font-size: 1.5em;
    line-height: 1.5;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
    resize: vertical;
}

.input-field::placeholder {
    color: #aaa;
}

.input-container {
    position: relative;
    max-width: 600px;
    margin: auto;
}

.input-field:focus {
    outline: none;
    border-color: #007bff;
}
